
.searchPage-mainLogo{
  max-width:140%;
  width:700px;
  max-height:18vh;
  top:calc(20vh + 1.5em);
  left:50%;
  transform:translate(-50%,0);
}

.searchPage-advertSearch{
  top:20vh;
  left:50vw;
  width:95%;
  max-width:100vh;
  max-width:50em;
  transform: translate(-50%,0);
}
.searchPage-advertList{
  postition:relative;
  top:25em;
  left:50vw;
  width:95%;
  /*height:70vh;*/
  background:white;
  border:2px solid black;
  max-width:100vh;
  max-width:50em;
  margin:0 auto;
  margin-top:30px;
  /*transform: translate(-50%,0);*/
}

@media only screen and (max-width: 600px) {

}
