.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.fullScreen {
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  overflow:hidden;
}
.unselectable{
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}
