.pictureUploadTest-imageLoader{
  position:absolute;
  width:1000px;
  max-width:100%;
  top:20%;
}

.pictureUploadTest-imageLoader–°losed{
  height:100px;
}
.pictureUploadTest-imageLoaderOpened{
  height:200px;
}

.pictureUploadTest-root{
  min-height:100vh;
  background:lightblue;
}
.pictureUploadTest-links{
  padding:30px;
  background:lightgrey;
  box-shadow:inset 0 1px 5px 5px rgba(100,100,100,0.6);
  position:absolute;
  width:calc(60% - 60px);
  left:20%;
  top:calc(20% + 300px);
}
.pictureUploadTest-linksName{
  color:grey;
  text-align:center;
  font-weight:bold;
  padding:30px;
  position:absolute;
  width:calc(60% - 60px);
  left:20%;
  top:calc(20% + 200px);
}
