
.mainPage-mainLogo{
  max-width:140%;
  width:700px;
  max-height:18vh;
  bottom:78%;
  left:50%;
  transform:translate(-50%,0);
}
.mainPage-loginButton{
  position:absolute;
  left:50%;
  top:30%;
  transform: translate(-50%, -50%);
  width: 10em;
  padding:1em;
  background:white;
  color:grey;
  font-weight:bold;
  border: 4px solid black;
}
.mainPage-advertSearch{
  top:40vh;
  left:50vw;
  width:95%;
  max-width:200vh;
  max-width:30em;
  transform: translate(-50%, -50%);
}

.mainPage-imageLinkContainer{
  width:100%;
  position:absolute;
  bottom:10vh;
  height:40vh;
  display:flex;
  flex-direction:row;
  z-index: 10;
}
.mainPage-imageLink{
  margin:0;
  width:100%;
  height:100%;
}
@media only screen and (max-width: 600px) {
  .mainPage-imageLink{
    width:100vw;
    height:50%;
    background:white;
  }
  .mainPage-imageLinkContainer{
    flex-direction:column;
    background:black;
  }
 .mainPage-advertSearch{

 }
}
